<template>
<div>
    <Input v-model="value" placeholder="Enter something..." style="width: 300px" />
     {{value}}
     <Button type="primary" @click="save">Save</Button>
 </div>    
</template>
<script>
    export default {
        data () {
            return {
                value: ''
            }
    },
            methods: {
    async save() {
       var doc = {
	value: this.value
}
await this.$root.$connector.table("Tabla3").createDocument(doc)
}
        }
    }
</script>
<style scoped>
p {
  font-size: 2em;
  text-align: center;
}
</style>